/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

.env.example

public/uploads

public/profiles/*
!public/profiles/placeholder_100.jpg
!public/profiles/placeholder_200.jpg
!public/profiles/placeholder_300.jpg

